* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(23, 63, 95, 0.8);

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: white;
}

.quote-container {
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(246, 213, 92, 0.8);
    box-shadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

/* Style the quote text */
.quote-container p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

/* Style the quote author */
#author {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-style: italic;
    font-size: 1rem;
}

/* Style the button */
#quote-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgba(237, 85, 59, 0.5);
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#quote-btn:hover {
    background-color: rgba(237, 85, 59, 0.8);
}

#quote-btn:active {
    background-color: #005cbf;
}